*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Segoe UI,sans-serif;
}

body{

    background:
    linear-gradient(
    180deg,
    #041225,
    #0a1d3a);

    color:white;

}

.container{

    min-height:100vh;

}

.main{

    padding:20px;

}

.glass{

    background:

    rgba(18,32,58,.9);

    border-radius:30px;

    padding:25px;

}

.title{

    text-align:center;

}

.title h1{

    font-size:32px;

}

.online{

    text-align:center;

    color:#00ff66;

    margin-top:20px;

}

.clock{

    text-align:center;

    font-size:50px;

    font-weight:bold;

    margin-top:25px;

}

.date{

    text-align:center;

    color:#d1d5db;

    margin-top:10px;

}

.stat{

    margin-top:40px;

    display:grid;

    grid-template-columns:
    repeat(2,1fr);

    gap:15px;

}

.stat-card{

    background:#1b3660;

    padding:25px;

    border-radius:20px;

    text-align:center;

}

.stat-card h2{

    font-size:40px;

}

.camera-card{

    background:#1b3660;

    padding:25px;

    border-radius:20px;

    margin-top:20px;

    cursor:pointer;

}

.camera-card:active{

    transform:scale(.97);

}

.bottom-nav{

    position:fixed;

    bottom:0;

    left:0;

    right:0;

    background:#091a35;

    display:flex;

    justify-content:space-around;

    padding:15px;

}

.bottom-nav a{

    color:white;

    text-decoration:none;

    font-size:28px;

}

input{

    width:100%;

    padding:18px;

    border:none;

    border-radius:20px;

    margin-top:20px;

    font-size:17px;

}

button{

    width:100%;

    padding:18px;

    border:none;

    border-radius:20px;

    background:#2563eb;

    color:white;

    font-size:18px;

    margin-top:20px;

}

@media(min-width:768px){

    .glass{

        max-width:900px;

        margin:auto;

    }

}
