body{
background:#081225;
color:white;
font-family:Segoe UI;
}

.container{
display:flex;
}

.sidebar{
width:250px;
height:100vh;
background:#162235;
padding:20px;
}

.content{
flex:1;
padding:40px;
}

.page{
display:none;
}

.active{
display:block;
}
